.IntroImg {
  width: 100%;
  height: auto;
  max-width: 600px; /* 데스크탑에서 너무 커지는 것 방지 */
  display: block;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .IntroImg {
    padding: 32px;
  }
}
