
.container{
  max-width:768px;
  margin:0 auto;
  width:96%;
}
.main-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-picture img {
  width: 100%;
}
.main-info {
  width: 100%;
  height: 90rem;
}
.main-info-title p {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
  letter-spacing: 0.8rem;
}
.main-info-location p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.divide-line {
  margin: 3rem 3rem;
  border: 0.7px solid rgb(218, 218, 218);
}
.main-greeting {
  margin: 0 auto;
  padding: 0 2.3rem;
}
.main-greeting-title {
  padding-bottom: 4rem;
}
.main-greeting-title p {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  margin: 0.4rem 0;
}
.main-greeting-title p span {
  font-size: 1.2rem;
}
.main-greeting-text p {
  font-size: 1.27rem;
  margin-top: 0.5rem;
  padding: 0.3rem 0;
}
.main-greeting-text {
  margin-bottom: 3rem;
}
.bottom-img {
  overflow: hidden;
}
.bottom-img img {
  width: 100%;
  transform: translate(0, -55%);
}
@media (min-width: 350px) {
  .main-info {
    height: 95rem;
  }
  .main-info-location p {
  font-size: 1.7rem;
}
  .main-greeting-title {
  padding-bottom: 4rem;
}
  .main-greeting-title p span {
    font-size: 1.4rem;
  }
  .main-greeting-title p {
    font-size: 1.7rem;
  }
  .main-greeting-text p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    padding: 0.3rem 0;
  }
  .main-greeting {
    margin: 0 auto;
  }
  .divide-line {
    margin: 3rem 2rem;
  }
  .bottom-img {
    height:25%;
  overflow: hidden;
}
.bottom-img img {
  transform: translate(0, -60%);
}
}
@media (min-width: 380px) {
  .main-info {
    height: 97rem;
  }
  .main-greeting {
    padding: 0 2.7rem;
  }
  .divide-line {
    margin: 3rem 2.5rem;
  }
    .main-greeting-text p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 0.3rem 0;
  }
}
@media (min-width: 420px) {
  .main-info {
    height: 105rem;
  }
  .main-info-title p {
    font-size:2.3rem;
}
.main-info-location p {
  font-size: 1.7rem;
}
  .main-greeting-title p span {
    font-size: 1.4rem;
  }
  .main-greeting-title p {
    font-size: 1.8rem;
  }
  .main-greeting-text p {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    padding: 0.3rem 0;
  }
  .main-greeting {
    padding: 0 3rem;
  }
  .bottom-img {
  height: 25%;
  }
  .bottom-img img {
  transform: translate(0, -55%);
}
  .divide-line {
    margin: 3rem 3rem;
  }
}